
.flex-container {
  padding-top: 1rem;
  display: flex;
  width: 50%;
}

.flex-child {
  flex: 1;
  font-size: 2rem;
} 

.flex-child:first-child {
  margin-right: 20px;
} 

.bg_image{
  background-image: url('./slike/background.jpg');
}

#footer {
  position: absolute;
  height: 100px;
}

.breeds{
  background-color: #343a40;
  width: 50vw;
  padding: 1em;
  margin: 10px;
  text-align: center;
  font-size: 1.25em;
  border-radius: 50px;
}
.text-white{
  color: white;
}